$fontFamily : Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
// Font pour les <pre> et les <code>
$fontFamilyCode : consolas,'DejaVu Sans Mono',courier,monospace;
// Font pour les éléments des formulaires
$fontFamilyForm : "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;

$baseFont: 14; // if "14" then 1em = 14px
$lineHeight: 1.5;

$colorText: #383839;
$linkColor: #383839;
$linkHoverColor: #000;
