// @desc        Base label form styles
// @name        Label
// @author
// @tested
// @requires    form.scss

// Label
//
// Markup:
//     <div class="boxField">
//         <label class="fieldLabel" for="exampleLabel">Label</label>
//         <input id="exampleLabel" type="text">
//    </div>
//
// Styleguide 6.2
.fieldLabel {
    display: inline-block;
    margin-bottom: 0;
    text-align: right;
}
